.logo img {
    width: 250px;
}

header {
    width: 100%;
    height: 60px;
    background-color: black;
}

header ul {
    list-style-type: none;
    line-height: 60px;
}

header ul li {
    float: left;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
}

.left {
    float: left;
    width: 70%;
    padding-right: 50px;
}

body{font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

h1{border-left:4px black solid;
  border-bottom:4px black solid;
  padding-left:15px;
}

form{background-color:#fbfbfb;
  border:3px #ebebeb solid;
  border-radius: 10px;
}

h2{margin: 0 auto;
  margin-top:30px;
  margin-left:15px;
  border-left:4px red solid;
  font-size:20px;
}

form div{
  padding:15px;
}

.text, textarea, .dropdown{
   border:1px solid #dfdfdf;
   padding:5px;
   color: #999;
   background: #fff;
}
   
.submit{    
   border:1px solid lightgray; 
   padding: 4px 10px;
   color:white;
   background-color:#bfbfbf;
   border-radius: 5px;
   border-bottom: solid 2px gray;
}

.kiji{margin: 0 auto;
  margin-top:30px;
  margin-left:15px;
  margin-bottom:30px;
  background-color:#fbfbfb;
  border:3px #ebebeb solid;
  border-radius: 10px;
}

h3{
  border-bottom:1px #bfbfbf solid;
}

.right {
    float: left;
    width: 25%;
}

h4{
  border-bottom:1px black solid;
}

.right ul {
   list-style-type: none;
   margin-left: -35px;
   margin-top: auto-10px;
   line-height: 30px;
}

footer {
    clear: left;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 60px;
}
